{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsStorage": "<STOAGE_ACCOUNT_NAME_FOR_WEBJOBS>",
    "COSMOS_CONNECTION": "<COSMOS_DATABASE_CONNECTION_STRING>",
    "COSMOS_DATABASE_NAME" : "<COSMOS_DATABASE_NAME>",
    "DOCUMENT_STORAGE": "<SECOND_STORAGE_ACCOUNT_NAME>",
    "CITRUS_BUS": "<SERVICE_BASE_NAME>",
    "REDIS_HOST": "<REDIS_CASHE_ENDPOINT>",
    "REDIS_PORT": "6380",
    "REDIS_PASSWORD": "<REDIS_CACHE_PASSWORD>",
    "AZURE_OPENAI_API_KEY": "<OPEN_AI_KEY>",
    "AZURE_OPENAI_ENDPOINT": "<AZURE_OPENAI_ENDPOINT>",
    "AZURE_OPENAI_MODEL_DEPLOYMENT_NAME": "<GPT_DEPLOYMENT_NAME>>",
    "AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME": "<ADA_DEPLOYMENT_NAME>",
    "AZURE_OPENAI_VERSION_NUMBER": "2024-02-15-preview",
    "AZURE_OPENAI_RUN_RETRIEVAL_DELAY_SECONDS": 5,
    "AZURE_AI_SEARCH_ENDPOINT": "<AI_SEARCH_ENDPOINT>",
    "AZURE_AI_SEARCH_ADMIN_KEY": "<SEARCH_ADMIN_KEY>",
    "AZURE_AI_SEARCH_CONTOSO_DOCUMENTS_INDEX_NAME": "contoso_documents",
    "AZURE_AI_SEARCH_CONTOSO_YACHTS_INDEX_NAME": "contoso_yachts",
    "COMPUTE_EMBEDDINGS_ONLY_IF_NECESSARY" : "0",
    "CONFIGURE_SDKS_TO_USE_MANAGED_IDENTITY_FOR_AUTHENTICATION": "0"
  },
  "Host": {
    "LocalHttpPort": 7072,
    "CORS": "*"
  }
}